@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --Pink: #ef9380;
  --Blue: #51bbcf;
  --MainFont: "Oswald", sans-serif;
  --Shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
  --FontColour: #142c31;
}

body {
  margin: 0;
  padding: 0;
}
/* Container */

/* HomePage  */
.Homepage-Background {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  width: auto;
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Homepage-Content {
  padding: 10px;
}
@media (min-width: 768px) {
  .Homepage-Content {
    width: 50%;
  }
}

.Glitch-SubHeading {
  font-family: var(--MainFont);
  color: azure;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: right;
}

@media (min-width: 768px) {
  .Glitch-SubHeading {
    text-align: left;
  }
}

.Socials-Container {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .Socials-Container {
    justify-content: flex-start;
    flex-direction:row;
  }
}

.ReactIcons {
  font-size: 4em;
  color: azure;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .ReactIcons {
    font-size: 3em;
  }
}

.ArrowIcon {
  font-size: 5em;
  color: azure;
  position: relative; 
  animation: ArrowIcon 1s infinite alternate; 
}
@keyframes ArrowIcon {
  0% {
      top: 0; /* Initial position */
  }
  100% {
      top: 15px; /* Final position */
  }
}

.ContactButton-Div{
  display: flex;
  justify-content: right;
  margin-top: 5%;
}
@media (min-width: 768px) {
  .ContactButton-Div{
    margin-top: 0%;
    justify-content: left;
  }
}

.ContactButton{
  align-self: right;
  border: solid 2px azure;
  font-family: var(--MainFont);
  color: azure;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  padding: 5px 20px;
  width: fit-content;
  text-align: justify;
  text-justify: inter-word;
}
.ContactButton:hover{
  border: solid 2px azure;
  background-color: azure;
  font-family: var(--MainFont);
  color: var(--Pink)
}


/* ^^ HomePage Content */

/* Glitch */

.stack {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .stack {
    margin-top: 20%;
  }
}

.stack span {
  font-family: var(--MainFont);
  color: azure;
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}
@media (min-width: 768px) {
  .stack span {
    font-size: 5rem;
  }
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 #a64c6d, 2px -3px 0 var(--Blue);
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 #a64c6d, -2px 3px 0 var(--Blue);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 #a64c6d, 2px -3px 0 var(--Blue);
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 #a64c6d, -2px 3px 0 var(--Blue);
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

/*  ^^ Glitch */
/* Biography */
.Section-Text{
  text-align: justify;
  text-justify: inter-word;
  padding:  0% 5%;
  color: var(--FontColour);
}

.LightBlueLink, .LightBlueLink:visited{
  color:var(--Blue);
}
.LightBlueLink:hover{
  font-weight: bold;
}

.Section-Header{
  background-color: var(--Pink);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--MainFont);
  color: azure;
  padding: 0px 10px;
  border-radius: 2px;
  margin: 10px 0px;
  width: fit-content;
  box-shadow: var(--Blue) -5px 5px 0px;
}
.Section-Header-White{
  background-color: azure;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--MainFont);
  color: var(--Pink);
  padding: 0px 10px;
  border-radius: 2px;
  margin: 10px 0px;
  width: fit-content;
  box-shadow: var(--Blue) -5px 5px 0px;
}

.TitlePinkGradient {
  font-size: 2.5rem;
  font-family: var(--MainFont);
  color: var(--Pink);
  text-transform: uppercase;
  line-height: 1; /* Adjust line height */
  vertical-align: top; /* Align text to the top */
}
.TitlePinkGradient-Underline {
  height: 5px;
  width: 85%;
  background-color: var(--Pink);
  border-radius: 50px;
}
@media (max-width: 767px) {
  .TitlePinkGradient-Underline {
    height: 5px;
    width: 100%;
    background-color: var(--Pink);
  }}

/* Projects */
.BrowserImage-Container{
  width: 60%;
  display: flex;
  justify-content:center ;
}
.BrowserImageBorder{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--Pink);
  border-radius: 15px 15px 15px 15px;
  background-color: var(--Pink);
}
.BrowserImageNavigationbar{
  background-color: var(--Pink);
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 15px 15px 0px 0px;
}
.BrowserImageTitle{
  text-transform: uppercase;
  color: azure;
  font-weight: bold;
  padding-left: 5px;
}

.Project-DescriptionLeft,
.Project-DescriptionRight {
  text-align: justify;
  color: var(--FontColour);
  text-justify: inter-word;
  padding: 0% 2%;
}
@media (min-width: 767px) {
  .Project-DescriptionLeft {
    padding-right: 15%;
  }
  .Project-DescriptionRight{
    padding-left: 15%;
  }
}

.BrowserButton {
  color: azure;
  margin-right: 2px;
  margin-top: 2px;
}
.BrowserDescContainer{
  justify-content: flex-start;
  width: 100%;
  padding: .5%;
}
@media (min-width: 768px) {
  .BrowserDescContainer{
    width: 70%;
  }}

.TechBubble {
  color: azure;
  background-color: var(--Pink);
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  font-size: 0.75rem;
  font-weight: bold;
}


.TechBubbleBlue {
  color: white;
  background-color: var(--Blue);
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 0.75rem;
  font-weight: bold;
}

.TechBubbleBlue:hover {
  background-color: #61e0f8;
}

.TechBubbleBlack {
  color: white;
  background-color: #202020;
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 0.75rem;
  font-weight: bold;
}

.TechBubbleBlack:hover {
  background-color: #606060;
}


.ImageBrowserNavigationButtons {
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  vertical-align: text-bottom;
}

.NoGraphic-Project-Description {
  display: flex;
  color:var(--FontColour);
  text-align: justify;
  text-justify: inter-word;
  padding: 5px;
}


.SingleNonVisualProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  width: 45%;
  max-width: 350px;
  border-radius: 15px;
  margin-top: 25px;
  align-self: stretch;
  box-shadow: var(--Shadow)
}
@media (min-width: 1024px) {
    .SingleNonVisualProject{
      width: 30%;
    }
}

.AlignLeft,
.AlignRight{
  text-align: Left;
}
@media (min-width: 768px) {
  .AlignLeft{
    text-align: Left;
  }
  .AlignRight{
    text-align: right;
  }
}


.Browser-Project-ContainerRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  box-shadow: var(--Shadow);
}
.Browser-Project-ContainerLeft{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  box-shadow: var(--Shadow);
}

@media (min-width: 768px) {
  .Browser-Project-ContainerLeft,
  .Browser-Project-ContainerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: flex-start;
    height: min-content;
  }
}
/* Contact Form */
.ContactBackground{
  margin-top: 20px;
  background-color: var(--Pink);
  padding: 20px 0px;
}


.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.ContactForm {
  display: flex;
  background-color: azure;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.ContactForm textarea::placeholder,
.ContactForm input::placeholder{
  font-family: Helvetica, Arial, sans-serif;
}
.ContactForm input,
.ContactForm textarea {
  border-radius: 5px;
  border: 2px solid var(--Pink);
  font-family: Helvetica, Arial, sans-serif;
  font-size: medium;
  resize: none;
}

.FormLabel {
  color: var(--Pink);
  font-family: var(--MainFont);
  text-transform: uppercase;
}

.FormButton {
  border: none;
  text-transform: uppercase;
  font-family: var(--MainFont);
  border-radius: 15px;
  color: azure;
  margin-top: 10px;
  background-color: var(--Pink)
}

.FormButton:hover {
  background-color: var(--Blue);
  color: azure;
}

.FormSubmitted {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.FormSubmittedBigMessage{
  text-transform: uppercase;
  font-family: var(--MainFont);
  font-size: 2rem;
  color: var(--Pink)
}
.FormSubmittedsmallMessage{
  color: var(--Pink);
  font-style: italic;
}
.FooterMessage{
  margin-top: 20px;
  color: azure;
  font-size: 0.75rem;
  font-style: italic;
}

/* Media Queries */



.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;

  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.container-wrapContent{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  column-gap: 10px;
  row-gap: 10px

}

@media (min-width: 475px) {
  .container-wrapContent {
    max-width: 475px;
  }
}

@media (min-width: 640px) {
  .container-wrapContent {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-wrapContent {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-wrapContent {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container-wrapContent {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container-wrapContent {
    max-width: 1536px;
  }
}
