@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --Pink: #ef9380;
  --Blue: #51bbcf;
  --MainFont: "Oswald", sans-serif;
  --Shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body {
  margin: 0;
  padding: 0;
}

/* HomePage  */

.Homepage-Background {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100vh;
  width: auto;
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: cover;
}

.Homepage-Content {
  padding: 10px;
}
@media (min-width: 768px) {
  .Homepage-Content {
    width: 50%;
  }
}

.Biotext {
  text-align: justify;
  color: azure;
  text-justify: auto;
  background-color: rgba(0, 0, blue, alpha);
}
@media (min-width: 475px) {
  .Biotext {
    background-color: transparent;
    margin-right: 5%;
    width: 100%;
  }
}

.Glitch-SubHeading {
  font-family: var(--MainFont);
  color: azure;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: right;
}

@media (min-width: 768px) {
  .Glitch-SubHeading {
    text-align: left;
  }
}

.Socials-Container {
  display: flex;
  background-color: transparent;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
}
@media (min-width: 768px) {
  .Socials-Container {
    justify-content: flex-start;
    flex-direction:row;
  }
}

.ReactIcons {
  font-size: 4em;
  color: azure;
  margin-right: 0.5rem;
}
@media (min-width: 768px) {
  .ReactIcons {
    font-size: 3em;
  }
}

.ArrowIcon {
  font-size: 5em;
  color: azure;
}

/* End Of HomePage Content */

/* HomePage Glitch */

.subheading {
  font-family: var(--MainFont);
  color: azure;
  font-size: 1.5rem;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .stack {
    margin-top: 20%;
  }
}

.stack span {
  font-family: var(--MainFont);
  color: azure;
  font-weight: bold;
  grid-row-start: 1;
  grid-column-start: 1;
  font-size: 4rem;
  --stack-height: calc(100% / var(--stacks) - 1px);
  --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
  --clip-top: calc(var(--stack-height) * var(--index));
  --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
  clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
  animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards
      calc(var(--index) * 120ms),
    glitch 2s ease infinite 2s alternate-reverse;
}
@media (min-width: 768px) {
  .stack span {
    font-size: 5rem;
  }
}

.stack span:nth-child(odd) {
  --glitch-translate: 8px;
}
.stack span:nth-child(even) {
  --glitch-translate: -8px;
}

@keyframes stack {
  0% {
    opacity: 0;
    transform: translateX(-50%);
    text-shadow: -2px 3px 0 #a64c6d, 2px -3px 0 var(--Blue);
  }
  60% {
    opacity: 0.5;
    transform: translateX(50%);
  }
  80% {
    transform: none;
    opacity: 1;
    text-shadow: 2px -3px 0 #a64c6d, -2px 3px 0 var(--Blue);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes glitch {
  0% {
    text-shadow: -2px 3px 0 #a64c6d, 2px -3px 0 var(--Blue);
    transform: translate(var(--glitch-translate));
  }
  2% {
    text-shadow: 2px -3px 0 #a64c6d, -2px 3px 0 var(--Blue);
  }
  4%,
  100% {
    text-shadow: none;
    transform: none;
  }
}

.SectionHeaderBox-Pink {
  background-color: var(--Pink);
  font-size: 2.5rem;
  font-family: var(--MainFont);
  color: azure;
  padding: 2px 50px 2px 10px;
  align-self: flex-start;
  margin-top: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 2px;
}

.TitlePinkGradient {
  font-size: 2.5rem;
  font-family: var(--MainFont);
  color: var(--Pink);
}
.TitlePinkGradient-Underline {
  height: 5px;
  width: 85%;
  background-color: var(--Pink);
  border-radius: 50px;
}

.Project-Description {
  text-align: justify;
  text-justify: inter-word;
}

.BrowserButton {
  color: azure;
  margin-right: 2px;
  margin-top: 2px;
}

.TechBubble {
  color: azure;
  background-color: var(--Pink);
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.25%;
  margin-right: 0.25%;
  font-size: 0.75rem;
  font-weight: bold;
}

.TechBubbleBlack {
  color: white;
  background-color: black;
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 0.75rem;
  font-weight: bold;
}

.TechBubbleBlack:hover {
  background-color: darkgray;
}

.TechBubbleBlue {
  color: white;
  background-color: var(--Blue);
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 0.75rem;
  font-weight: bold;
}

.TechBubbleBlue:hover {
  background-color: #61e0f8;
}

.TechBubbleBlack {
  color: white;
  background-color: #202020;
  padding: 0.5% 2%;
  border-radius: 15px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  font-size: 0.75rem;
  font-weight: bold;
}

.TechBubbleBlack:hover {
  background-color: #606060;
}

.ParentDiv {
  display: flex;
  width: min-content;
  flex-direction: column;
  border-radius: 15px;
  border: var(--Pink) 2px solid;
  background-color: var(--Pink);
}

.ImageBrowserNavigationBar {
  background-color: var(--Pink);
  display: flex;
  justify-content: space-between;
  vertical-align: text-bottom;
  width: 480px;
  border-radius: 15px 15px 0px 0px;
}
.ImageBrowserNavigationTitle {
  color: azure;
  padding-left: 10px;
}

.ImageBrowserNavigationButtons {
  padding-right: 1%;
  display: flex;
  justify-content: space-between;
  vertical-align: text-bottom;
}

.Screen-Image {
  border-radius: 0px 0px 15px 15px;
  max-width: 400px;
  max-height: 225px;
}

.Single-Graphic-Project {
  display: flex;
  max-width: 1400px;
}

.ProjectDiv-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.NoGraphic-ProjectDiv-Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
}

.NoGraphic-Project-Description {
  display: flex;
  text-align: justify;
  text-justify: inter-word;
  padding: 5px;
}

.Project-Screen-Container {
  padding: 10px;
  width: 40%;
  min-width: 500px;
}
.Project-Text-Container {
  padding: 10px;
  width: 60%;
  min-width: 500px;
}

.SingleNonVisualProject {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  min-width: 300px;
  max-width: 300px;
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.NonVisualTechStack {
  width: 100%;
}

.Browser-Project-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border-radius: 25px;
  box-shadow: var(--Shadow);
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.ContactForm {
  display: flex;
  width: 550px;
  background-color: var(--Pink);
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 20px;
}

.ContactForm input {
  margin-bottom: 10px;
}

.ContactForm textarea {
  resize: none;
  width: 540px;
  margin-bottom: 10px;
}

.FormLabel {
  color: azure;
  font-family: var(--MainFont);
  text-transform: uppercase;
}

.FormButton {
  border: none;
  text-transform: uppercase;
  font-family: var(--MainFont);
  border-radius: 15px;
  color: var(--Pink);
  background-color: rgb(255, 255, 255);
}

.FormButton:hover {
  background-color: rgb(246, 246, 246);
  color: rgb(230, 138, 119);
}

.FormSubmitted {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: var(--MainFont);
  font-size: 1.5rem;
  color: azure;
}

/* Media Queries */
@media (max-width: 767px) {
  .Single-Graphic-Project {
    flex-direction: column-reverse;
    align-items: center;
  }
  .TitlePinkGradient-Underline {
    height: 5px;
    width: 100%;
    background-color: var(--Pink);
  }
  .Project-Description {
    padding-right: 0%;
  }
}

@media (max-width: 425px) {
  .ContactForm {
    display: flex;
    width: 285px;
    background-color: var(--Pink);
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;
  }
  .ContactForm input {
    margin-bottom: 10px;
  }
  .ContactForm textarea {
    width: 275px;
  }
}

@media (min-width: 475px) {
  .container {
    max-width: 475px;
    border: 2px solid blue;
  }
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    border: 2px solid red;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    border: 2px solid green;
  }
  .Browser-Project-Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 20px;
    align-items: flex-start;
    height: min-content;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 475px) {
  .container-wrapContent {
    max-width: 475px;
    border: 2px solid blue;
  }
}

@media (min-width: 640px) {
  .container-wrapContent {
    max-width: 640px;
    border: 2px solid red;
  }
}

@media (min-width: 768px) {
  .container-wrapContent {
    max-width: 768px;
    border: 2px solid green;
  }
}

@media (min-width: 1024px) {
  .container-wrapContent {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container-wrapContent {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container-wrapContent {
    max-width: 1536px;
  }
}
