@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
  margin: 0;
  padding: 0;
}

.subheading {
  font-family: 'Oswald', sans-serif;
  color: azure;
  font-size: 1.5rem;
}

.stack {
  display: grid;
  grid-template-columns: 1fr;
}

  .stack span {
    font-family: 'Oswald', sans-serif;
    color: azure;
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 5rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
  }
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }
  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 #a64c6d, 2px -3px 0 #51bbcf;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 #a64c6d, -2px 3px 0 #51bbcf;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 #a64c6d, 2px -3px 0 #51bbcf;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 #a64c6d, -2px 3px 0 #51bbcf;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

  .ReactIcons{
    font-size: 2em;
    color: azure;
    margin-right: 0.5rem;
  }

  .ArrowIcon{
    font-size: 4em;
    color: azure;
  }

  .TitlePinkGradient {
    position: relative;
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    color: #ef9380;
  }

.Screen {
  width: fit-content;
  border: #ef9380 2px solid;
  border-radius:15px 15px 15px 15px;
}

.ScreenImage{
  border-radius:0px 0px 15px 15px;
padding-bottom: 0px;
margin-bottom: 0px;
}

.BrowserButton {
color: azure;
margin-right:2px;
}

.TechBubble {
  color:azure;
  background-color: #ef9380;
  padding: 0.5% 2%;
  border-radius:15px 15px 15px 15px;
  margin-left: .25%;
  margin-right: .25%;
  font-size: .75rem;
  font-weight: bold;
}

.TechBubbleBlack {
  color:white;
  background-color: black;
  padding: 0.5% 2%;
  border-radius:15px 15px 15px 15px;
  margin-left: .5%;
  margin-right: .5%;
  font-size: .75rem;
  font-weight: bold;
}

.TechBubbleBlack:hover {
  background-color: darkgray;
}
.TechBubbleBlue {
  color:white;
  background-color: #51bbcf;
  padding: 0.5% 2%;
  border-radius:15px 15px 15px 15px;
  margin-left: .5%;
  margin-right: .5%;
  font-size: .75rem;
  font-weight: bold;
}

.TechBubbleBlue:hover {
  background-color: #61e0f8;
}